nav {
    background-color: deepskyblue;
    position: sticky;
    top: 0;
    padding: 10px;
    margin-bottom: 10px;
    z-index: 1;
    display: flex;
    justify-content: space-between;

    a {
        color: white;
        text-decoration: none;
        // display: inline-block;
        // position: relative;
        height: 25px;
        left: 25px;
        align-self: center;
    }

    .welcome-container {
        display: flex;
        gap: 20px;
        align-items: center;
        .welcome-img {
            height: 6vh;
            width: 3vw;
        }
    }

    .header-btns {
        cursor: pointer;
        text-decoration: none;
        color: white;
    }
}
