<div class="container">
    <div class="row">
        <div class="col-md-4 bg-light border rounded m-1">
            <strong>Ex-01 Map</strong>
            <hr>
            <ul id="elContainer1"></ul>
        </div>
        <div class="col-md-4 bg-light border rounded m-1">
            <strong>Ex-02 Map + ConcatAll</strong>
            <hr>
            <ul id="elContainer2"></ul>
        </div>
        <div class="col-md-4 bg-light border roundedm m-1">
            <strong>Ex-03 ConcatMap</strong>
            <hr>
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>