<div class="container">
    <a class="btn-block" [routerLink]="['home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home Component</a>
    <a class="btn-block" [routerLink]="['/templateDrivenForm']">Template Driven Form</a>
    <a class="btn-block" [routerLink]="['/reactiveForm']">Reactive Form</a>
    <a class="btn-block" [routerLink]="['/pipes']">Pipes</a>
    <a class="btn-block" [routerLink]="['/pipesPractice']">Pipes Practice</a>
    <a class="btn-block" [routerLink]="['/httpRequests']">HTTP Requests</a>
    <a class="btn-block" [routerLink]="['/mergeMap']">MergeMap</a>
    <a class="btn-block" [routerLink]="['/concatMap']">ConcatMap</a>
    <a class="btn-block" [routerLink]="['/templateOutletTest']">Template Outlet Test</a>
</div>